#
# This file MUST be edited with the 'visudo' command as root.
#
# Please consider adding local content in /etc/sudoers.d/ instead of
# directly modifying this file.
#
# See the man page for details on how to write a sudoers file.
#
#
#Defaults  env_keep -="HOME"

# Host alias specification

# User alias specification

# Cmnd alias specification
Cmnd_Alias   SYSCMNDS = /usr/local/bin/quickbox/system/*, /usr/local/bin/quickbox/system/lang/*, /usr/local/bin/quickbox/system/theme/*, /usr/local/bin/quickbox/system/updater/*
Cmnd_Alias   PKGCMNDS = /usr/local/bin/quickbox/package/install/*, /usr/local/bin/quickbox/package/remove/*, /usr/local/bin/quickbox/package/update/*
Cmnd_Alias   PLUGINCMNDS = /usr/local/bin/quickbox/plugin/install/installplugin-*, /usr/local/bin/quickbox/plugin/remove/removeplugin-*
Cmnd_Alias   GENERALCMNDS =  /bin/mount, /bin/systemctl, /root/acme.sh/acme.sh, /usr/sbin/service php7.4-fpm reload, /usr/sbin/service php7.4-fpm restart, /usr/bin/mysql, /sbin/ip route get 8.8.8.8

www-data     ALL = (ALL) NOPASSWD: SYSCMNDS, PKGCMNDS, PLUGINCMNDS, GENERALCMNDS

