[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prettytable = "*"

[dev-packages]
flake8 = "*"

[requires]

[scripts]
flake8 = "flake8 packages/system/auxiliary/"
