[Unit]
Description=QuickBox Status Update WebSocket Interface
Requires=network.target
After=network.target

[Service]
Type=simple
# Debug endpoints are enabled only when NODE_ENV is not production.
Environment=NODE_ENV=production
ExecStart=/usr/bin/node /srv/dashboard/ws/dist/server.js
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
