[Unit]
Description=Terminal over HTTP
Required=sshd.service
After=sshd.service

[Service]
User=USERNAME
Group=USERNAME
Type=simple
WorkingDirectory=/home/USERNAME
ExecStart=/usr/local/bin/ttyd -i 127.0.0.1 -p 4200 bash
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-abort

[Install]
WantedBy=multi-user.target